<!-- app/templates/view_test.html -->
{% extends 'layout.html' %}

{% block content %}
    <h1>View Test: {{ test.name }}</h1>
    <p>Date Created: {{ test.date_created.strftime('%Y-%m-%d') }}</p>
    <h2>Questions:</h2>
    <ol>
        {% for question in test.questions %}
            <li>
                <strong>{{ question.text }}</strong>
                <ul>
                    {% for option in question.options %}
                        <li>{{ option.text }} {% if option.is_correct %}<strong>(Correct)</strong>{% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
    <a href="{{ url_for('routes.teacher_dashboard') }}" class="button">Back to Dashboard</a>
{% endblock %}
